scroll_buffer_size 99999
theme "kanagawa"

web_client {
    font "HackGen Console NF"
}

keybinds {
    shared_except "locked" {
        bind "Alt f" {
            LaunchPlugin "filepicker" {
                close_on_selection true
            };
        }
    }

    session {
        // zsm: zoxide-integrated session switcher
        bind "z" {
            LaunchOrFocusPlugin "file:/Users/suzuki/.config/zellij/plugins/zsm.wasm" {
                floating true
                move_to_focused_tab true
                session_separator "_"
            };
            SwitchToMode "Normal"
        }
    }
}
